<div class="row">
	<div class="col-md-3" id="left-col"></div>
	<div class="col-md-6">
		<div class="well">
			<h1>ThIs A WeATheR ApP u BiTCH</h1>
			<center><h3>whErE U wANt THe WEather 4?</h3></center>
			<br>
		<center>
			<div>
				<%= form_tag index_path do %>
					<%= text_field_tag :zipcode, nil, placeholder: "zipcode", class: "form-corntrol" %><br><br><br>
					<%= submit_tag "ChECk WeATheR", class: "btn btn-primary" %>
				<% end %>
			</div>
		</center>
		</div>
	</div>	
	<div class="col-md-3" id="right-col"></div>
</div>

<div class="row">
	<div class="col-md-3" id="left-col"></div>
	<div class="col-md-6">
		<div class="well">
			<% if @location != nil && @location != "" && (@error == "" || @error == nil) %>
				<h1>HeRE ThE FoREcaSt 4: <%= @location %> </h1> 
				<div class="row">
					<div class="col-md-7">
					<p>
						<em>What's the weather like?</em>
					</p>
					<p>
						Temeperature is: <%= @temp %>˚
					</p>
					<p>
						Cloud Cover: <%= @cloudiness %>%
					</p>
					<p>
						Wind: <%= @windiness %>mph
					</p>
					</div>
					<div class="col-md-5">
						<p>
							<%= @weather_words %>
							<img src="http://openweathermap.org/img/w/<%=@weather_icon%>.png">
						</p>
					</div>
				</div> 
				<% elsif @status == "404" %>
					<p> Error: <%= @error %>. Please Try Again.</p>
				<% else %>
					<center><p>Enter a zip code to check the weather.</p></center>
					<center><h2>BITCH!</h2></center>
			<% end %>
		</div>
	</div>
	<div class="col-md-3" id="right-col"></div>
</div>





