<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<h1>HeRE ThE FoREcaSt 4: <%= @location %> </h1>
			<div class="row">
				<div class="col-md-7">
				<p>
					<em>What's the weather like?</em>
				</p>
				<p>
					Temeperature is: <%= @temp %>˚
				</p>
				<p>
					Cloud Cover: <%= @cloudiness %>%
				</p>
				<p>
					Wind: <%= @windiness %>mph
				</p>
				</div>
				<div class="col-md-5">
					<p>
						<%= @weather_words %>
						<img src="http://openweathermap.org/img/w/<%=@weather_icon%>.png">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

